<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Publisher</title>
</head>

<body>
  <div id="nav">
    <nav id="nav">
      <a href="/#readme">README</a> . <a href="/#message">Message Testing</a> . <a href="/#calendar">Calendar Links</a> . <a href="/#rabbitmq">RabbitMQ</a>
    </nav>
  </div>
  <h1>Message Publisher</h1>
  <form action="/publish" method="POST">
    <button type="submit">Publish Message</button>
  </form>
</body>

</html>